{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h2>Create</h2>
        <form action="{{ url_for('reply', message_id=message_id) }}" method="post">
            <div>Message:</div>
            <div><textarea name="content" placeholder="今の気分はいかがですか？"></textarea></div>
            <div><input type="submit" value="Create" /></div>
        </form>
    {% endif %}

    <h2>返信一覧</h2>
    <ul>
        {% for message in messages %}
            <div class="message">
                <li>
                    <img src="http://www.gravatar.com/avatar/{{ message.user.email }}?d=identicon&s=80" alt=""
                        class="avatar">
                    {{ message.user.name }} {{ message.pub_date }}
                    {% if message.user == current_user %}
                        <form action="{{ url_for('delete', message_id=message.id) }}" method="post" style="display:inline;">
                            <input type="submit" value="削除" onclick="if(!confirm('このメッセージを削除しますか？')) return false">
                        </form>
                    {% endif %}
                    <div class="message-content">
                        {{ message.content }}
                    </div>
                </li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
